.btn{
  padding: 10;
  border-radius: 10px;
  background-color: #f2f2f2;
  border: none;
  color: black;
}

.btn-edit{
  &:hover{
    background-color: #3498db;
    color: white;
  }
}

.btn-delete{
    &:hover{
        background-color: #e74c3c;
        color: white;
    }
}